.container{
    padding: 1rem;
    text-align: center;
    background-color:green;
    background-image: linear-gradient(to bottom right, red, yellow); 

}
.header{
    padding: 1rem;

}
*{
    padding: 0rem;
   
}
.header a{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.7rem; 
}





.active{
    font-weight: bolder;
    border-radius: 1rem;
    background-color:#FCA5A5; 
    
}















h1{
    font-weight: bolder;
    padding: 2rem;
    font-size: 3rem;
    color: #FCD34D;

}








label{
    color: #FCD34D;
    font-size:2.8rem;

}






input{
    font-size:2rem;
}






button{
    font-size:2.2rem;
    border-radius:12px;
    cursor: pointer;
    text-align: center;
    padding:20px;
    color:#4C1D95;
    background-color: #F59E0B;


}


div{
    font-size: 1.8rem;
}



.span{
    color: #B91C1C;
}