@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root{
    --primary-color: black;

}
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 50px;
    font-family: 'Pangolin', cursive;
    background-color: var(--primary-color);
}
.navigation{
    /*background-color: var(--primary-color);*/
    padding-left: 2rem;
}
.navigation .nav-pills{
    text-align: center;
}
.list-non-bullet{
    list-style: none;
    padding-inline-start: 0px;
}
.list-item-inline{
    display: inline;   
    list-style: none;
    padding: 5rem;
    text-align: center;
   
}
.link{
    color: white;
}
.head{
    color: white;
}
.big{
    color: white;
}
.para{
    color: white;
    padding: 1rem;
    max-width: 600px;
    margin: none;
    line-height: 260%;
   
}
.linky{
    color: white;
    margin: none;
}
#right{
    float: right;
}

a:hover{
    color: red;
    font-size: 1rem;
}
.footer{
    background-color: #7C3AED;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
footer{
    display: block;
}
.footer.footer-header{
    font-weight: bold;
    font-size: large;
}
div{
    display: block;
}
.footer ul{
    padding-inline-start: 0px;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
    color: white;
}
.icon-bar a{
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a:hover{
    background-color: #000;
}
.active{
    background-color: #04AA6D;
}

.footer{
background-color: #111;
color: white;
text-align: center;
display: block;

 padding: 2rem;

 
}
i{
    color: white;
    font-size: 2rem;
    text-shadow: 1px 2px violet;
    padding: 0.5rem;
}

.fa:hover{
    color: violet;
    
}
.link{
    color: white;
    text-decoration :none;
    padding: 0.5rem 0.5rem;


}
.list-inline{
   display: inline;
   padding: 1rem 0rem;

}
.footer ul{
    padding-inline-start: 0px;
}
.weight{
    font-weight: bold;
    font-size: large;
}
.link-secondary{
    color: #7C3AED;
    border-radius: 0.5rem;
    border: 1px solid #7C3AED;
    display: inline;
    max-width: 140px;
    margin: 1rem 1 rem 1 rem 0rem ;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;

}
.spa{
    color:  #7C3AED;
}
